$azure: #06b0e0;
$cloudy-blue: #c0cada;
$dark-cyan: #089d95;
$deep-lavender: #7f56a4;
$dusk-blue: #1f3f78;
$dusty-orange: #ec8539;
$marine: #052d6d;
$pale-grey: #e6eaf0;
$peacock-blue: #004eab;
$raspberry: #b10040;
$shamrock: #00ae53;

$danger: $raspberry !default;
$info: $dark-cyan !default;
$primary: $marine !default;
$secondary: $pale-grey !default;
$success: $shamrock !default;
$warning: $dusty-orange !default;
