.page {
  &__face-id {
    .header {
      padding: 117px 0 80px 0;
    }

    .container-fluid {
      .wrapper {
        height: fit-content;

        .background {
          background: $white;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          box-shadow: 0 -20px 40px 0 rgba(60, 66, 91, 0.06);
          height: 36px;
          margin: 0 50px;
          opacity: 0.8;
        }
      }

      .card {
        border-radius: unset;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: 0 -20px 40px 0 rgba(60, 66, 91, 0.06);
        height: fit-content;
        margin-top: -18px;
        padding-bottom: 182px;
        padding-top: 123px;
      }
    }

    .face-id-wrapper {
      display: inline-block !important;
      margin-bottom: 220px !important;

      .background,
      .background-two,
      .background-three {
        border-radius: 50% !important;
      }

      .background {
        border: solid 2px $light-royal-blue;
        height: 600px !important;
        margin: 0 !important;
        opacity: 0.1 !important;
        width: 600px !important;
      }

      .background-two {
        border: solid 4px $greyish-two;
        height: 540px;
        margin-left: 30px;
        margin-top: -570px;
        width: 540px;
      }

      .background-three {
        background-color: $greyish-three;
        height: 500px;
        margin-left: 50px;
        margin-top: -520px;
        width: 500px;

        img {
          margin-top: 22%;
        }
      }
    }

    .image-wrapper {
      margin-top: 350px;
      margin-bottom: 480px;
    }

    .switch-button {
      padding: 0 100px;

      .active {
        background-image: linear-gradient(11deg, #283055 -11%, #363f6c 80%);
      }
    }
  }
}