.page {
  &__face-id {
    .face-id-wrapper {
      .background {
        border: solid 2px $light-royal-blue;
        height: 600px !important;
        margin: 0 !important;
        opacity: 0.1 !important;
        width: 600px !important;
      }

      .background-two {
        border: solid 4px $greyish-two;
        height: 540px;
        margin-left: 30px;
        margin-top: -570px;
        width: 540px;
      }

      .background-three {
        background-color: $greyish-three;
        height: 500px;
        margin-left: 50px;
        margin-top: -520px;
        width: 500px;

        img {
          margin-top: 22%;
        }
      }
    }
  }
}