.page {
  &__profile {
    nav {
      padding-bottom: 40px;

      hr {
        border-top: 1px solid $light-blue-grey;
        margin-top: 26px;
        margin-bottom: 28px;
      }

      .sub-title {
        &__profile-name {
          font-size: 35px;
          opacity: 1;
        }

        &__bio {
          letter-spacing: 0.7px;
        }
      }
    }

    .content {

      .rest-members,
      .text__bold {
        color: $primary !important;
        font-family: 'GothamPro-Medium' !important;
      }
    }

    // Team details link
    a.team-details-link {
      text-decoration: none;

      p {
        text-align: left
      }
    }

    .content-profile {
      padding: 0 50px;

      .team-name {
        color: $primary;
        font-family: 'GothamPro-Medium';
      }

      .team-logo {
        border: solid 4px $dandelion;
        border-radius: 50%;
        object-fit: cover;
      }

      .details {
        .text {
          color: $blue-grey;
          font-family: GothamPro;
          letter-spacing: -1.05px;
          line-height: 1.33;

          &__bold {
            font-size: 20px;
            letter-spacing: normal;
            line-height: 1.4;
          }
        }

        .member-list {
          .member {
            display: inline;
            list-style: none;

            img {
              border-radius: 50%;
              height: 40px;
              width: 40px;
            }
          }

          .member:not(:last-child) {
            margin-right: 12px;
          }
        }
      }
    }
  }
}