.page {
  &__team-events {

    .btn-more,
    .event-date,
    .event-title,
    .rest-members,
    .sub-menu .select-custom,
    .text span {
      font-family: 'GothamPro-Medium' !important;
    }

    .event-time span, .member-list p, .joined p {
      font-family: GothamPro;
    }

    .content-team {
      &__event {
        color: $primary;
        padding: 0 50px;

        .event-row {
          margin-bottom: 35px !important;
        }

        .event-date {
          margin-top: 45px;

          .day {
            font-size: 30px;
            text-align: center;
          }

          .date {
            color: $orangey-yellow;
            font-family: 'Bebas Neue';
            font-size: 64px;
            letter-spacing: 1.83px;
            text-align: center;
          }
        }

        .event-card {
          .card {
            padding: 32px 40px 10px 35px;
          }

          a.event-title {
            color: $primary;
            display: inline-block;
            font-size: 24px;
            letter-spacing: -0.45px;
            line-height: 1.17;
            margin-bottom: 8px;
            text-decoration: none;
          }

          .event-time {
            margin-bottom: 18px;

            img {
              margin-top: -5px;
            }

            span {
              font-size: 20px;
              letter-spacing: -0.37px;
              line-height: 1.4;
              margin-left: 15px;
              opacity: 0.8;
            }
          }

          .btn-more {
            margin-top: 6px;
          }

          .event-details {
            border-top: 1px solid $light-blue-grey-60;
            padding-top: 20px;

            .member-list {
              .member {
                display: inline;
                list-style: none;

                img {
                  border-radius: 50%;
                  height: 40px;
                  width: 40px;
                }

                .rest-members {
                  display: inline;
                  margin-top: 10px;
                  position: absolute;
                }
              }

              .member:not(:last-child) {
                margin-right: 12px;
              }
            }

            .joined p {
              color: $blue-grey;
              font-size: 20px;
              letter-spacing: -1px;
              line-height: 1.4;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.filter-modal {
  .modal-content {
    padding: 0;

    .modal-header {
      background-color: $pale-grey-eight;
      border-top-left-radius: 27px;
      border-top-right-radius: 27px;
      border: none;
      padding: 48px 50px;

      .title {
        font-size: 37px;
        line-height: 1.43;
        margin-bottom: 0;
      }
    }

    .modal-body {
      padding: 36px 45px;
      padding-bottom: 0;
    }

    .modal-footer {
      border-top: 1px solid $bluey-grey;
      padding: 46px 45px;
      padding-bottom: 52px;
    }
  }

  ul.list {
    height: 735px;
    list-style: none;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 14px !important;
  }

  // scrollbar

  ::-webkit-scrollbar-track {
    height: 50px;
  }
  
  ::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $white-six;
    border-radius: 10px;
  }
}
