.page {
  &__touch-id {
    .header {
      padding: 117px 0 80px 0;
    }

    .container-fluid {
      .wrapper {
        height: fit-content;

        .background {
          background: $white;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          box-shadow: 0 -20px 40px 0 rgba(60, 66, 91, 0.06);
          height: 36px;
          margin: 0 50px;
          opacity: 0.8;
        }
      }

      .card {
        border-radius: unset;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: fit-content;
        box-shadow: 0 -20px 40px 0 rgba(60, 66, 91, 0.06);
        margin-top: -18px;
        padding-top: 123px;
        padding-bottom: 182px;
      }
    }

    .touch-id-wrapper {
      display: inline-block !important;
      margin-bottom: 220px !important;

      .background,
      .background-two,
      .background-three {
        border-radius: 50% !important;
      }

      .background,
      .background-two {
        border: solid 2px $light-royal-blue;
      }

      .background {
        height: 600px !important;
        margin: 0 !important;
        opacity: 0.1 !important;
        width: 600px !important;
      }

      .background-two {
        height: 530px;
        margin-left: 35px;
        margin-top: -565px;
        opacity: 0.3;
        width: 530px;
      }

      .background-three {
        background-image: linear-gradient(193deg, #4f4bf6 90%, #3632fd 9%);
        box-shadow: 10px 52px 60px 0 rgba(54, 50, 253, 0.26);
        margin-left: 70px;
        margin-top: -495px;
        height: 460px;
        width: 460px;

        img {
          margin-top: 8%;
        }
      }
    }

    .image-wrapper {
      margin-top: 350px;
      margin-bottom: 480px;
    }

    .switch-button {
      padding: 0 100px;

      .active {
        background-image: linear-gradient(11deg, #283055 -11%, #363f6c 80%);
      }
    }
  }
}