.page {
  &__touch-id {
    .touch-id-wrapper {
      .background,
      .background-two {
        border: solid 2px $light-royal-blue;
      }

      .background {
        height: 600px !important;
        margin: 0 !important;
        opacity: 0.1 !important;
        width: 600px !important;
      }

      .background-two {
        height: 530px;
        margin-left: 35px;
        margin-top: -565px;
        opacity: 0.3;
        width: 530px;
      }

      .background-three {
        background-image: linear-gradient(193deg, #4f4bf6 90%, #3632fd 9%);
        box-shadow: 10px 52px 60px 0 rgba(54, 50, 253, 0.26);
        margin-left: 70px;
        margin-top: -495px;
        height: 460px;
        width: 460px;

        img {
          margin-top: 8%;
        }
      }
    }
  }
}