.page {
  &__index {
    .container-fluid {
      background-image: url(../img/bg.jpg);
      background-size: cover;
      padding: 35% 15% 20% 15%;

      .buttons {
        margin-top: 78% !important;

        .btn {
          &__sign-up {
            margin-bottom: 46px;
          }
        }
      }

      .separator {
        .line {
          border-radius: 1px;
          border-top: 2px solid white;
          margin-top: 25px;
        }

        span {
          color: $white;
          font-family: Poppins;
          font-size: 31px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.89px;
          line-height: normal;
          text-align: center;
        }
      }

      .btn {
        span {
          margin-left: 5%;
        }

        .text {
          span {
            font-weight: 500;
            margin-left: 10%;
          }
        }

        .icon {
          i {
            font-size: 34px;
            margin-top: 5px;
          }
        }

        &__apple {
          margin-top: 36px;

          span, i {
            color: $black;
          }

          .text {
            border-left: 1px solid $light-grey-two;
          }
        }

        &__facebook {
          .text {
            border-left: 1px solid $light-navy-blue;
          }
        }
      }

      .touch-id-link {
        margin-top: 47px;

        a {
          color: $white;
          font-family: Poppins;
          font-size: 32px;
          letter-spacing: 1.28px;
          text-align: center;
        }
      }
    }
  }
}