.checkbox-custom {
  .checkmark {
    border: 4px solid $cloudy-blue;
    height: 37px;
    width: 37px;

    &:after {
      background-image: url(../img/icons/icon-check-fill.png);
      background-position: 100%;
      background-repeat: no-repeat;
      background-size: 35px;
      height: 35px;
      width: 35px;
    }
  }

  &__modal {
    input[type="checkbox"]:checked~.checkbox-wrapper {
      .checkmark {
        border: none;
      }
    }

    .form-check-label {
      opacity: 0.6 !important;
    }

    .checkmark {
      top: 22px !important;
    }
  }
}

.checkbox-custom:not(:last-child) {
  margin-bottom: 25px;
}