.select-custom {
  -webkit-appearance: none;
  font-family: 'GothamPro' !important;
  font-size: 24px;
  letter-spacing: 0.69px;
  line-height: 1.25;
  opacity: 0.7;
  padding: 0 !important;

  &__sort-by {
    background: url(../img/icons/triangle@2x.png) no-repeat !important;
    background-position: 100% 45% !important;
    background-repeat: no-repeat !important;
    background-size: 23px 15px !important;
    border: none !important;
    color: $primary;
    font-size: 25px;
    letter-spacing: 0.56px;
    opacity: 0.9 !important;
    text-align: left;
    width: 100%;
  }

  &__bold {
    font-family: 'GothamPro-Medium' !important;
    opacity: 1 !important;
  }
}

.select-with-image {
  select {
    display: none;
  }

  button {
    background: url(../img/icons/triangle@2x.png) no-repeat !important;
    background-position: 75% !important;
    background-repeat: no-repeat !important;
    background-size: 16px 12px !important;
  }

  .item {
    margin: auto;
    padding-left: 0;

    li {
      list-style: none;
      padding: 10px;

      &:hover {
        background-color: $white-five;
        cursor: pointer;
      }
    }
  }

  .item img,
  .btn-select img {
    width: 40px;
  }

  .item-list {
    border-radius: 2px;
    border: 1px solid $white-three;
    display: none;
    margin-top: 10px;
    width: 100%;
  }

  .open {
    display: show !important;
  }
}

.btn-select,
.btn-select-modal {
  border: none;
  border-bottom: 1px solid $white-three;
  height: 80px;
  padding: 30px 0;
  width: 100%;

  li {
    list-style: none;
    padding-bottom: 0px;
    text-align: left;
  }
}

.btn-select,
.btn-select-modal,
.select-custom__sort-by {
  &:focus {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $white-three;
    box-shadow: none;
    outline: none;
  }
}

.btn-select {
  background: transparent !important;
  opacity: 1;
}

.btn-select-modal {
  background: url(../img/icons/triangle@2x.png) no-repeat;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 24px 15px;
  color: $primary;
  opacity: 0.8;
  text-align: left;
}

.select-wrapper {
  img {
    height: 15px;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 24px;
    z-index: -1;
  }
}