.btn-slanted {
  -ms-transform: skewX(-18deg);
  -webkit-transform: skewX(-18deg);
  transform: skewX(-18deg);
  border-radius: 0;
}

.btn-slanted-content {
  -ms-transform: skewX(18deg);
  -webkit-transform: skewX(18deg);
  display: inline-block;
  transform: skewX(18deg);  
  text-transform: uppercase;
}

.btn-more {
  i {
    border-radius: 50%;
    border: 1.8px solid white;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    margin-left: 10px;
    padding-left: 2px;
    width: 16px;
  }
}

.btn {
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
}