_site
.DS_Store
.jekyll-metadata
.sass-cache
/demos/plai-html/node_modules
/demos/plai-html/.DS_Store
/demos/plai-html/scss/.DS_Store
/demos/plai-html/img/.DS_Store
/demos/plai-html/img/icons/.DS_Store
/demos/floplast/node_modules
/demos/ufc/node_modules