.already-visible {
  transform: translateY(0);
  animation: none;
}

.come-in {
  transform: translateY(250px);
  animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
