$black-four: #373737;
$black-three: #313131;
$black-two: #3a3a3a;
$dark-red: #da3a38;
$grapefruit: #ff4f4e;
$greyish-brown-two: #505050;
$greyish-brown: #4e4e4e;
$light-grey-two: #d4d4d4;
$light-grey: #e7ecf2;
$warm-grey-two: #979797;
$warm-grey: #6f6f6f;
$white-two: #f9f9f9;