$yellow: #ffc858;
$red: #e55452;
$purple: #473f88;
$tosca: #01cac2;
$blue: #06c3ff;

.working-process {
  .step_by_step {
    margin: 68px auto 215px auto;

    .step {
      display: grid;
      grid-template-columns: 25% 75%;

      &__1 {
        .bullet {
          background-color: $yellow;
          box-shadow: 0 15px 40px 0 rgba(254, 200, 92, 0.5);
        }

        .card { border-left: 3px solid $yellow; }
      }

      &__2 {
        .bullet {
          background-color: $red;
          box-shadow: 0 15px 40px 0 rgba(229, 84, 82, 0.5);
        }

        .card { border-left: 3px solid $red; }
      }

      &__3 {
        .bullet {
          background-color: $purple;
          box-shadow: 0 15px 40px 0 rgba(71, 63, 136, 0.49);
        }

        .card { border-left: 3px solid $purple; }
      }

      &__4 {
        .bullet {
          background-color: $tosca;
          box-shadow: 0 15px 40px 0 rgba(1, 202, 194, 0.5);
        }

        .card { border-left: 3px solid $tosca; }
      }

      &__5 {
        .bullet {
          background-color: $blue;
          box-shadow: 0 15px 40px 0 rgba(1, 202, 194, 0.5);
        }

        .line {
          height: 0 !important;
        }

        .card { border-left: 3px solid $blue; }
      }

      .number {
        color: #9b9b9b;
        font-family: Montserrat;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 6.75px;
        line-height: normal;
        margin: 0 auto;
        opacity: 0.08;
      }

      .card {
        border-radius: 3px;
        background-color: white;
        border-bottom-right-radius: 50px;
        box-shadow: 15px 15px 40px 0 #ebebef;

        .title {
          color: black;
        }

        .description {
          color: rgba(26, 40, 70, 0.68);
          letter-spacing: 0.36px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px){
  .bullet {
    height: 20px !important;
    width: 20px !important;
  }

  .line {
    margin-left: 10px !important;
  }

  .number {
    font-size: 26pt !important;
  }
}