.radio-custom {
  input:checked~.checkmark {
    border: 3px solid $cloudy-blue;

    &:after {
      display: block;
    }
  }

  .checkmark {
    border: 3px solid $cloudy-blue;
    height: 30px;
    width: 30px;

    &:after {
      background: $primary;
      height: 18px;
      left: 3px;
      top: 3px;
      width: 18px;
    }
  }
}

.radio-custom {
  &__modal {
    input[type="radio"]:checked~.radio-wrapper {
      background-color: $light-blue-grey;
      border: 1px solid $light-blue-grey;

      .checkmark {
        border: 3px solid $cloudy-blue;
      }
    }

    .form-check-label {
      opacity: 0.7 !important;
    }

    .checkmark {
      top: 24px !important;
    }
  }
}