.content {
  margin-bottom: 300px;

  &__grid {
    .card__item {
      flex-shrink: 0;
      margin-right: 30px;
      padding: 25px 30px 30px 30px;
      width: 330px;
    }
  }

  &__list {
    .card__item {
      margin-bottom: 50px;
      padding: 23px 28px;
    }
  }
}

.content-team {
  padding: 0 50px;

  &__scroll {
    .card {
      padding: 12px 10px;
    }
  
    ul.list {
      height: 700px;
      margin-right: 10px;
      margin-top: 28px;
      overflow: auto;
      padding-left: 40px;
      padding-right: 25px;
  
      li {
        list-style: none;
        padding: 28px 10px;
      }
  
      li:not(:last-child) {
        border-bottom: 1px solid $pale-grey-five;
      }
  
      li:first-child {
        padding-top: 0;
      }
    }
  }
}
