<div class="backend_wrapper">
  <div class="intro">
    <div class="content">
      <div class="illustration" data-src="assets/images/backend_illustration.png">
        <img alt="illustration" />
      </div>

      <div class="intro_text">
        <p class="title title__main">Backend</p>
        <p class="description description__light description__light">Creative agency that is based in Bandung,
          Indonesia. We have awesome designers and developers that have been working on various mobile and web
          application UI. </p>
      </div>
    </div>
  </div>

  <section class="services_wrapper">
    <div class="services">
      <div class="cards">
        <div class="card">
          <div class="content">
            <picture>
              <source srcset="assets/images/icon-web.png.webp" type="image/webp">
              <img class="icon" src="assets/images/icon-web.png">
            </picture>
            <p class="description description__bold">Craft Website & API</p>
            <p class="description description__light">
              Craft your website or API from scratch using Ruby on Rails.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <picture>
              <source srcset="assets/images/icon-web-mantain.png.webp" type="image/webp">
              <img class="icon" src="assets/images/icon-web-mantain.png">
            </picture>
            <p class="description description__bold">Maintain Your App</p>
            <p class="description description__light">
              Maintain existing Ruby on Rails web application or services.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <picture>
              <source srcset="assets/images/icon-web-extent.png.webp" type="image/webp">
              <img class="icon" src="assets/images/icon-web-extent.png">
            </picture>
            <p class="description description__bold">Extends Developer Team</p>
            <p class="description description__light">
              Extend your developer team.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <picture>
              <source srcset="assets/images/icon-web-refactor.png.webp" type="image/webp">
              <img class="icon" src="assets/images/icon-web-refactor.png">
            </picture>
            <p class="description description__bold">Refactor Code</p>
            <p class="description description__light">
              We help you improve your app to work effectively by improving code quality and reusability of the code.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="working-process">
    <div class="header">
      <p class="description description__light">Step by step in creating your website</p>
      <p class="title title__main">Working Process</p>
    </div>

    <div class="illustration" data-src="assets/images/workflow.png">
      <img />
    </div>

    <div class="step_by_step">
      <div class="step step__1">
        <div class="number">
          <p>01</p>
        </div>
        <div class="card">
          <p class="title">Feedback / Requirements</p>
          <p class="description">You give requirements or feedback to us</p>
        </div>
      </div>

      <div class="step step__2">
        <div class="number">
          <p>02</p>
        </div>
        <div class="card">
          <p class="title">Creating Test (With TDD)</p>
          <p class="description">We create test spec that explains your requirement or feedback to reduce the risk of
            failure when the app grows</p>
        </div>
      </div>

      <div class="step step__3">
        <div class="number">
          <p>03</p>
        </div>
        <div class="card">
          <p class="title">Implementation of Spec</p>
          <p class="description">We implement the test spec that has been created</p>
        </div>
      </div>

      <div class="step step__4">
        <div class="number">
          <p>04</p>
        </div>
        <div class="card">
          <p class="title">Refactoring</p>
          <p class="description">Refactoring the code, so the code can be reused and the readability improved</p>
        </div>
      </div>
    </div>
  </div>

  <div class="development-tools">
    <div class="header">
      <p class="title title__main">Our development tools</p>
      <p class="description description__light">
        These are the tools that we use to sketching, brainstorming and doing the collaboration.
      </p>
    </div>

    <div class="tools-image">
      <picture>
        <source srcset="assets/images/ruby@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/ruby@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/rails@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/rails@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/js@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/js@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/postgre@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/postgre@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/sass@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/sass@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/html@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/html@2x.png">
      </picture>
      <picture>
        <source srcset="assets/images/redis@2x.png.webp" type="image/webp">
        <img class="icon" src="assets/images/redis@2x.png">
      </picture>
    </div>
  </div>

  <div class="clients-wrapper">
    <div class="clients">
      <div class="header">
        <p class="title title__main">Our people have helped these companies</p>
        <p class="description description__light">
          We like to build close relationships with our clients. We believe dynamic collaboration is the only way to get
          the job done well.
        </p>
      </div>

      <div class="clients-image">
        <picture>
          <source srcset="assets/clients/logo/bespaced.png.webp" type="image/webp">
          <img class="icon" src="assets/clients/logo/bespaced.png">
        </picture>
        <picture>
          <source srcset="assets/clients/logo/petroninja.png.webp" type="image/webp">
          <img class="icon" src="assets/clients/logo/petroninja.png">
        </picture>
        <picture>
          <source srcset="assets/clients/logo/pigeon.png.webp" type="image/webp">
          <img class="icon" src="assets/clients/logo/pigeon.png">
        </picture>
        <picture>
          <source srcset="assets/clients/logo/bit_alchemists.png.webp" type="image/webp">
          <img class="icon" src="assets/clients/logo/bit_alchemists.png">
        </picture>
      </div>
    </div>
  </div>
</div>