<main class="body-wrapper">
  <section class="intro">
    <div class="intro-text">
      <div class="title title__main">
        <p>Crafter Digital</p>
      </div>
      <div class="description description__light description__light">
        <p>Creative agency that is based in Bandung, Indonesia. We have awesome designers and developers that have been
          working on various mobile and web application UI.</p>
      </div>
      <div class="button button__large">
        <a href="coming_soon">View Our Work</a>
      </div>
    </div>

    <div class="illustration">
      <img class="" src="assets/images/illustration.png">
    </div>
  </section>

  <section class="services">
    <div class="header">
      <div class="title title__sub">
        <p>WHAT WE DO</p>
      </div>
      <div class="title title__main">
        <p>Provide awesome service for you</p>
      </div>
      <div class="description description__light">
        <p>These are the awesome services we provide to you</p>
      </div>
    </div>
    <div class="content">
      <div class="cards">
        <div class="service_card">
          <img class="icon" src="assets/images/icon-ui.png">
          <div class="description description__bold">
            Craft UI/UX
          </div>
        </div>
        <div class="service_card">
          <img class="icon" src="assets/images/icon-ui-extent.png">
          <div class="description description__bold">
            Extend your UI / UX Designer Team
          </div>
        </div>
        <div class="service_card">
          <img class="icon icon-landscape" src="assets/images/icon-web-mantain.png">
          <div class="description description__bold">
            Maintain Existing Ruby on Rails
          </div>
        </div>
        <div class="service_card">
          <img class="icon icon-landscape" src="assets/images/icon-web-extent.png">
          <div class="description description__bold">
            Craft Website & API(Ruby on Rails)
          </div>
        </div>
        <div class="service_card">
          <img class="icon icon-landscape" src="assets/images/icon-web-extent.png">
          <div class="description description__bold">
            Extend your Developer Team
          </div>
        </div>
        <div class="service_card">
          <img class="icon icon-landscape" src="assets/images/icon-web-refactor.png">
          <div class="description description__bold">
            Refactor Existing Ruby Code
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why_choose_us">
    <div class="title title__main">
      <p>Why Choose Us?</p>
    </div>
    <div class="advantages">
      <div class="advantage">
        <img src="/assets/images/image.png">
        <div class="text">
          <div class="title">
            Testing with High Coverage
          </div>
          <div class="description">
            That will help you minimize the risk of errors on you web application. We deliver product on time, well
            tested, and "well done" culture.
          </div>
        </div>
      </div>
      <div class="advantage">
        <img src="/assets/images/image_2.png">
        <div class="text">
          <div class="title">
            Experienced Designer
          </div>
          <div class="description">
            we deliver Mobile/Website UI design that pleasing users eyes without reducing user good experience when
            using the product.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="clients">
    <div class="box">
      <div class="header">
        <div class="title title__main">
          <p>Our people have helped these companies</p>
        </div>
        <div class="description description__light">
          <p>We like to build close relationships with our clients. We believe dynamic collaboration is the only way to
            get the job done well.</p>
        </div>
      </div>
      <div class="contents">
        <div class="clients-image">
          <img src="assets/clients/logo/logo.png">
          <img src="assets/clients/logo/logo-2.png">
          <img src="assets/clients/logo/logo-3.png">
          <img src="assets/clients/logo/logo-4.png">
          <img src="assets/clients/logo/logo-5.png">
          <img src="assets/clients/logo/logo-6.png">
          <img src="assets/clients/logo/logo-7.png">
        </div>
      </div>
    </div>
  </section>

  <section class="testimonial">
    <div class="header">
      <div class="title title__sub">WHAT THEY SAY ABOUT US</div>
      <div class="title title__main"> Clients Testimonials</div>
    </div>
    <div class="content">
      <div class="background-card">
        <div class="cards">
          {% for client in site.data.client_testimonials %}
          <div class="card" id="testimony-{{ forloop.index }}">
            <div class="client-image">
              <img src="{{ client.image_url }}">
            </div>
            <div class="text">
              <div class="company_name">
                <p>{{ client.company_name }}</p>
              </div>
              <div class="client_name">
                <p>{{ client.name }}</p>
              </div>
              <div class="testimony">
                <p>{{ client.testimony }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="dots-slider">
      <ul>
        {% for client in site.data.client_testimonials %}
        <li class="dot" id="dot-{{ forloop.index }}" onclick="showTestimony('{{ forloop.index | minus: 1 }}')">&nbsp;
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
