<div class="footer-wrapper">
  <div class="contact-us">
    <div class="text">
      <p class="title title__main">Lets work together! <a onclick="showPopup();">Contact Us</a></p>
    </div>
  </div>
  <div class="footer">
    <div class="top">
      <div class="logo">
        <img src="/assets/images/logo.png">
        <p>Crafter Digital</p>
      </div>
      <div class="contact">
        <ul>
          <li class="title title__footer">CONTACT</li>
          <li>
            <img class="icon-contact" src="assets/images/icon-location.png" />
            <span>Jingga Residence Blok D 51, Bandung, Indonesia</span>
          </li>
          <li>
            <img class="icon-contact" src="assets/images/icon-phone.png" />
            <span>+62 82115115973</span>
          </li>
          <li>
            <img class="icon-contact" src="assets/images/icon-envelope.png" />
            <span>crafterdigital.info@gmail.com</span>
          </li>
        </ul>
      </div>
      <div class="about">
        <ul>
          <li class="title title__footer">ABOUT</li>
          <li><a href="coming_soon">Our Team</a></li>
          <li><a href="coming_soon">Our Services</a></li>
          <li><a href="coming_soon">Project</a></li>
        </ul>
      </div>
      <div class="social-media">
        <ul>
          <li class="title title__footer">FOLLOW US</li>
          <li>
            <a href="#"><img class="icon-socmed" src="assets/images/icon-upwork.png" /></a>
            <a href="#"><img class="icon-socmed" src="assets/images/icon-behance.png" /></a>
            <a href="#"><img class="icon-socmed" src="assets/images/icon-github-logo.png" /></a>
            <a href="#"><img class="icon-socmed" src="assets/images/icon-dribbble.png" /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom">
      <div class="copyright">2019 ⓒ Crafter Digital. All rights reserved </div>
    </div>
  </div>
</div>