<div class="footer-wrapper">
  <div class="row-footer">
    <div class="rect-footer-title">
      <div class="footer-title">Lets work together! <span class="text-style-1"> Contact Us</span></div>
    </div> 

    <div class="rect-footer-full">      
      <div class="footer-elements">
        <div class="logo-footer">
          <img class="img-footer" src="assets/images/logo-1_2@3x.png" />
        </div>

        <div class="name-footer">Crafter Digital</div>
        <div class="footer-subtitle fs-1">CONTACT</div>
        <div class="footer-subtitle fs-2">ABOUT US</div>
        <div class="footer-subtitle fs-3">FOLLOW US</div>

        <div class="footer-desc desc-column-contact">
          <div class="cb-1">
            <img class="icon-contact" src="assets/images/icon-location.png" />
            <span class="text-footer-desc">467 Boehm Well Apt. 122</span>
          </div>
          <div class="cb-2">
            <img class="icon-contact" src="assets/images/icon-phone.png" />
            <span class="text-footer-desc">088-183-9011</span>
          </div>
          <div class="cb-3">
            <img class="icon-contact" src="assets/images/icon-envelope.png" />
            <span class="text-footer-desc">morgan.roob@gmail.com</span>
          </div>
        </div>

        <div class="footer-desc desc-column-about">
          <div class="contact-1">
            <a href="#" class="text-footer-desc">Our Team</a>
          </div>
          <div class="contact-2">
            <a href="#" class="text-footer-desc">Our Services</a>
          </div>
          <div class="contact-3">
            <a href="#" class="text-footer-desc">Project</a>
          </div>
        </div>

        <div class="follow-us">
          <a href="#"><img class="icon-socmed" src="assets/images/icon-upwork.png" /></a>
          <a href="#"><img class="icon-socmed" src="assets/images/icon-behance.png" /></a>
          <a href="#"><img class="icon-socmed" src="assets/images/icon-github-logo.png" /></a>
          <a href="#"><img class="icon-socmed" src="assets/images/icon-dribbble.png" /></a>
        </div>

        <div class="box-copyright copyright">2019 ⓒ Crafter Digital. All rights reserved </div>
      </div>
    </div>
  </div>
  </div>
  