<header class="header_wrapper">
  <div class="header_logo">
    <img class="img_logo" src="assets/images/logo.png" />
    Crafter Digital
  </div>

  <div class="header_menu">
    <a href="/" class="nav_menu">Home</a>
    <a href="coming_soon" class="nav_menu">About</a>
    <a href="services" class="nav_menu">Services</a>
    <a class="button button__small nav_menu" href="coming_soon">Contact</a>
  </div>
</header>

<header class="hamburger_menu">
  <div class="nav">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo.png" class="img_logo">
    </div>
    <div class="menu">
      <div id="icon">
        <div id="menu_icon">
          <img src="/assets/images/open-menu.png">
        </div>
        <div id="close_icon">
          <img src="/assets/images/icon-cross.png">
        </div>
      </div>
    </div>
  </div>
  <div class="sub_menu">
    <ul>
      <li>
        <a href="/" class="nav_menu">Home</a>
      </li>
      <li>
        <a href="coming_soon" class="nav_menu">About</a>
      </li>
      <li>
        <a href="/services" class="nav_menu">Services</a>
      </li>
      <li>
        <a href="coming_soon" class="nav_menu">Contact</a>
      </li>
    </ul>
  </div>
</header>
