<header class="header-wrapper">
  <div class="header-logo">
    <img class="img-logo" src="assets/images/logo.png" />
    Crafter Digital
  </div>

  <div class="header-menu">
    <a href="/" class="nav-menu nav-menu__home">Home</a>
    <a href="coming_soon" class="nav-menu nav-menu__about">About</a>
    <a href="services" class="nav-menu nav-menu__services">Services</a>
    <a class="button button__small nav-menu nav-menu__contact" href="coming_soon">Contact</a>
  </div>
</header>

<header class="hamburger-menu">
  <div class="nav">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo.png" class="img-logo">
    </div>
    <div class="menu">
      <div id="icon">
        <div id="menu-icon">
          <img src="/assets/images/open-menu.png">
        </div>
        <div id="close-icon">
          <img src="/assets/images/icon-cross.png">
        </div>
      </div>
    </div>
  </div>
  <div class="sub-menu">
    <ul>
      <li>
        <a href="/" class="nav-menu nav-menu__home">Home</a>
      </li>
      <li>
        <a href="coming_soon" class="nav-menu nav-menu__about">About</a>
      </li>
      <li>
        <a href="coming_soon" class="nav-menu nav-menu__services">Services</a>
      </li>
      <li>
        <a href="coming_soon" class="nav-menu nav-menu__services">Contact</a>
      </li>
    </ul>
  </div>
</header>
