
<div class="header-wrapper">
   

    <div class="header-nav">
      <div class="header-logo">
       <img class="img-logo" src="assets/logo/logo-1.png">
      </div>

      <div class="header-menu"> 
        <a class="nav-menu menu-1">Home</a>
        <a class="nav-menu menu-2">About</a>
        <a class="nav-menu menu-3">Services</a>
        <a  class="nav-menu rectangle menu-4">Contact</a>

        
        <!-- <a class="nav-menu grey-font">About</a>
        <a  class="nav-menu grey-font">Service</a>
        <a  class="button nav-menu rectangle">Contact</a> --> 
      </div>
    </div>

    <div class="row-1 ">

      <div class="title-row-1 main-title">
        Crafter Digital
      </div>

      <div class="main-desc">
        <p class="text-desc">Creative agency that is based in Bandung, Indonesia. We have awesome designers and developers that have been working on various mobile and web application UI. </p>
      </div>

      <div class="outer-button button-work">
        <div class=" p">View Our Work  </div>
      </div>

      <div class="main-illustration">
          <img class="" src="assets/logo/illustrations.png">
      </div>


    </div>

    <!-- <div class="row-1 ">

     <div class="main-illustration">
       <img class="" src="assets/logo/illustrations.png">
     </div>
    </div> -->

    <div class="row-2 ">
      <div class="isi-row2">
        <div class="subtitle-2">
           WHAT WE DO
        </div>

        <div class="title-2"> Provide awesome service for you</div>
        <div class="box-desc2 text-desc">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae </div>

        <div class="outer-box">

          <div class="box-services b1">
            <img class="icon" src="assets/logo/icon-ui.png">
            <div class="text-services">
              Craft UI/UX
            </div>
          </div>

          <div class="box-services b2">
           <img class="icon" src="assets/logo/icon-ui-extent.png">
            <div class="text-services">
              Extent your UI / UX Designer Team
            </div>
          </div>

           <div class="box-services b3">
            <img class="icon" src="assets/logo/icon-web-mantain.png">
            <div class="text-services">
              Maintain Existing Ruby on Rails
            </div>
          </div>

          <div class="box-services b1">
            <img class="icon" src="assets/logo/icon-web-extent.png">
            <div class="text-services">
              Craft Website & API(Ruby on Rails)
            </div>
          </div>

          <div class="box-services b2">
            <img class="icon" src="assets/logo/icon-web-extent.png">
            <div class="text-services">
              Extent your Developer Team
            </div>
          </div>

          <div class="box-services b3">
            <img class="icon" src="assets/logo/icon-web-refactor.png">
            <div class="text-services">
              Refactor Existing Ruby Code
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row-3">

      <div class="row-3-judul">
        <div class="title-2"> Why Choose Us? </div>
      </div>

      <div class="row-3-1">
       <div class="box-img">
        <img class="img-choose" src="assets/logo/image.png">
       
       </div>
       <div class="box-desc-choose">
         <div class="reason-title">Testing with High Coverage</div>
         <div class="reason-desc">That will help you minimize the risk of errors on you web application. We deliver product on time, well tested, and "well done" culture.</div>
       </div>
      </div>

      <div class="row-3-2">
        <div class="box-img">
         <img class="img-choose" src="assets/logo/image_2.png">
        
        </div>
        <div class="box-desc-choose">
          <div class="reason-title">Experienced Designer</div>
          <div class="reason-desc">we deliver Mobile/Website UI design that pleasing users eyes without reducing user good experience when using the product.</div>
        </div>
       </div>
    </div>

    <div class="row-4">
      <div class="rect-row-4">
       <div class="past-client-box">
          <div class="subtitle-past">
              PAST CLIENT
          </div>
          <div class="past-client-title-4"> Lorem ipsum dolor sit.</div>
          <div class="client-logo-box">
            <img class="client-logo" src="assets/logo/change.png">
            <img class="client-logo" src="assets/logo/adidas.png">
            <img class="client-logo" src="assets/logo/pylons.png">
            <img class="client-logo" src="assets/logo/intel.png">
            <img class="client-logo" src="assets/logo/fastcom.png">
          </div>
        </div> 
      </div>
    </div>

    <div class="row-5">
      <div class="box-text-row5">
        <div class="subtitle-2">
              WHAT THEY SAY ABOUT US
        </div>
        <div class="past-client-title"> Clients Testimonials</div>
      </div>

      <div class="box-testimonial">
        <div class="card"> 
          <div class="card-1">
              
            <div class="img-testi">  
             <img class="img-size" src="assets/logo/user.png">
             <div class="text-company">Airbnb.com</div>
             <div class="text-name">James Hoffman</div>
             <div class="testi-desc">Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum.</div>



            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-footer">
      <div class="rect-footer-title">
          <div class="footer-title">Lets work together! <span class="text-style-1"> Contact </span></div>
      </div> 
      

      <div class="rect-footer-full">
        
        <div class="footer-elements">
          <div class="logo-footer">
            <img class="img-footer" src="assets/logo/logo-1_2@3x.png" />
          </div>

          <div class="name-footer">Crafter Digital</div>
          <div class="footer-subtitle fs-1">CONTACT</div>
          <div class="footer-subtitle fs-2">ABOUT US</div>
          <div class="footer-subtitle fs-3">FOLLOW US</div>

          <div class="footer-desc desc-column-contact">
            <div class="cb-1">
              <img class="icon-contact" src="assets/logo/icon-location.png" />   <span class="text-footer-desc">467 Boehm Well Apt. 122</span>
            </div>
            <div class="cb-2">
              <img class="icon-contact" src="assets/logo/icon-phone.png" />   <span class="text-footer-desc">088-183-9011</span>
            </div>
            <div class="cb-3">
                <img class="icon-contact" src="assets/logo/icon-envelope.png" />   <span class="text-footer-desc">morgan.roob@gmail.com</span>
            </div>
          </div>

          <div class="footer-desc desc-column-about">
              <div class="cb-1">
                <span class="text-footer-desc">Our Team</span>
              </div>
              <div class="cb-2">
                <span class="text-footer-desc">Our Services</span>
              </div>
              <div class="cb-3">
                <span class="text-footer-desc">Project</span>
              </div>
          </div>
          
          <div class="follow-us">
              <img class="icon-socmed" src="assets/logo/icon-upwork.png" />   
              <img class="icon-socmed" src="assets/logo/icon-behance.png" />   
              <img class="icon-socmed" src="assets/logo/icon-github-logo.png" />   
              <img class="icon-socmed" src="assets/logo/icon-dribbble.png" />   
          </div>

          <div class="box-copyright copyright">  2019 ⓒ Crafter Digital. All rights reserved </div>
        </div>

      

      </div>

    </div>
</div>




