<div class="service_wrapper">
  <div class="intro">
    <img class="illustration" src="assets/images/services_illustration.png">

    <div class="intro_text">
      <p class="title title__main">Services</p>
      <p class="description description__light description__light">Creative agency that is based in Bandung, Indonesia. We have awesome designers and developers that have been working on various mobile and web application UI. </p>
    </div>
  </div>

  <div class="services_container">
    <div class="services">
      <a href="ui_ux" class="service service__border-right-grey">
        <img src="/assets/images/ui-ux.png" alt="ui_ux.png">
        <span>UI/UX</span>
      </a>

      <a href="backend" class="service">
        <img src="/assets/images/backend.png" alt="backend.png">
        <span>Backend</span>
      </a>
    </div>
  </div>
</div>
