<div class="service-wrapper">
  <div class="intro">
    <div class="illustration">
      <img class="" src="assets/images/services_illustration.png">
    </div>

    <div class="intro-text">
      <div class="title title__main">
        <p>Services</p>
      </div>
      <div class="description description__light description__light">
        <p>Creative agency that is based in Bandung, Indonesia. We have awesome designers and developers that have been working on various mobile and web application UI. </p>
      </div>
    </div>
  </div>

  <div class="services-container">
    <div class="services">
      <a href="ui_ux" class="service service__border-right-grey">
        <img src="/assets/images/ui-ux.png" alt="ui-ux.png">
        <span>UI/UX</span>
      </a>

      <a href="backend" class="service">
        <img src="/assets/images/backend.png" alt="backend.png">
        <span>Backend</span>
      </a>
    </div>
  </div>
</div>
