.carousel-top {
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  &__desktop {
    .carousel-indicators {
      justify-content: left;
      margin: 0;
      margin-bottom: 40px;
      margin-left: 40px;

      li {
        height: 18px;
        margin: 0;
        margin-right: 4px;
        opacity: 1;
        width: 18px;
      }

      li.active {
        background-color: $red;
      }
    }

    .carousel-inner,
    .carousel-item {
      height: 650px;
    }

    .carousel-caption {
      bottom: 0;
      color: white;
      margin: 0;
      padding-bottom: 20px;
      padding-top: 20px;
      padding: 0;
      position: absolute;
      right: 0;
      text-align: right;
      z-index: 10;

      .caption-wrapper {
        -webkit-clip-path: polygon(40% 0%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 100%, 0% 80%, 0% 45%);
        background-color: $red;
        bottom: 0;
        clip-path: polygon(40% 0%, 80% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 100%, 0% 80%, 0% 45%);
        padding: 70px 45px 40px 60px;
        position: absolute;
        right: 0;
        width: 445px;

        h2 {
          font-family: 'D-DINCondensed';
          text-transform: uppercase;
          font-size: 55px;
          margin: 0;
        }

        h2.bold {
          font-weight: bolder;
        }

        .title {
          margin-bottom: 34px;
        }

        p {
          font-family: 'ProximaNova-Regular';
          font-size: 18px;
          margin-bottom: 28px;
        }
      }
    }
  }

  &__mobile {
    .carousel-inner,
    .carousel-item {
      height: 645px;
    }

    .carousel-item {
      img {
        filter: brightness(0.5);
      }

      .carousel-caption {
        color: white;
        left: 40px;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: left;
        top: 40px;
        z-index: 10;

        h2 {
          font-family: 'D-DINCondensed';
          font-size: 85px;
          font-weight: bold;
          text-transform: uppercase;
        }

        p {
          font-family: 'ProximaNova-Regular';
          font-size: 20px;
          margin-bottom: 8px;
        }

        a.btn {
          margin-top: 22px;
          font-size: 22px;
          padding: 16px 14px;
        }
      }
    }
  }
}