@font-face {
  font-family: 'AkzidenzGroteskPro';
  font-style: normal;
  font-weight: normal;
  src: local('AkzidenzGroteskPro'), url(../fonts/AkzidenzGroteskPro.woff) format('woff');
}

@font-face {
  font-family: 'Buchery';
  font-style: normal;
  font-weight: normal;
  src: local('Buchery'), url(../fonts/Buchery.woff) format('woff');
}

@font-face {
  font-family: 'D-DIN-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN-Bold'), url(../fonts/D-DIN-Bold.woff) format('woff');
}

@font-face {
  font-family: 'D-DINCondensed';
  font-style: normal;
  font-weight: normal;
  src: local('D-DINCondensed'), url(../fonts/D-DINCondensed.woff) format('woff');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNova-Bold'), url(../fonts/ProximaNova-Bold.woff) format('woff');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ProximaNova-Regular'), url(../fonts/ProximaNova-Regular.woff) format('woff');
}
