@import 'shared/working_process';
@import 'shared/services';

.backend-wrapper {
  .intro {
    background-color: #f38750;
  }

  .services-wrapper {
    background: url(/assets/images/bg.svg) center no-repeat;
  }

  .working-process {
    .illustration {
      display: grid;
      margin: 68px auto 215px auto;
    }

    .step_by_step {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .working-process {
    .step_by_step {
      display: grid !important;
    }

    .illustration {
      display: none !important;
    }
  }
}
