@import 'shared/working_process';
@import 'shared/services';

.backend_wrapper {
  .intro {
    background-color: #f38750;

    .illustration {
      background-color: #f38750;
      filter: blur(2vw);
    }
  }

  .services_wrapper {
    &:before {
      background-image: url(../../assets/images/circle_one.png);
      background-repeat: no-repeat;
      content: "";
      height: 125%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &:after {
      background-image: url(../../assets/images/circle_two.png);
      background-position: right;
      background-repeat: no-repeat;
      content: "";
      display: table;
      height: 125%;
      position: absolute;
      top: 140%;
      width: 100%;
      z-index: -1;
    }
  }

  .working-process {
    .illustration {
      display: grid;
      margin: 68px auto 215px auto;
    }

    .step_by_step {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .services_wrapper {
    &:after, &:before {
      background-image: none !important;
    }
  }
}


@media screen and (max-width: 680px) {
  .working-process {
    .step_by_step, .illustration {
      display: grid !important;
    }
  }
}
