.button {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-color: $pale-red;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0 rgba(229,75,73,0.54);
  color: white !important;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  transition: background-color .15s ease-in-out;

  &:hover, &:active, &:focus {
    background-color: $dark-red;
  } 

  &__large {
    border-radius: 4px;
    padding: 20px 30px;
  }

  &__small {
    padding: 10px 18px;
    width: 92px;
  }

  &__submit {
    border-radius: 4px !important;
    border: none;
    font-size: 18px;
    width: 100px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

a.button.button__submit {
  padding: 15px;
  margin: auto;
  text-align: center;
}

