.coming-soon-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .illustration {
    grid-column: 3/11;
    margin: auto;
    margin-top: 104px;
  }
  .logo {
    grid-column: 8/6;
    margin: auto;
    img {
      width: 92px;
    }
  }
  .text {
    grid-column: 12/2;
    margin-top: 26px;
    text-align: center;
    .title.title__main, .description.description__light {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      p {
        grid-column: 2/8;
      }
    }
  }
  .form {
    display: grid;
    grid-column: 11/3;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
    margin-bottom: 125px;
    margin-top: 38px;
    input {
      border-radius: 2px;
      border: solid 1px #e7ecf2;
      border-right: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: white;
      color: rgba(25, 36, 60, 0.68);
      font-family: 'Montserrat';
      font-size: 16px;
      height: 54px;
      letter-spacing: 0.1px;
      outline: none;
      opacity: 0.48;
      padding: 0 24px;
      grid-column: 3/10;
    }
  }
}

@media screen and (max-width: 640px) {
  .coming-soon-wrapper {
    .text {
      .title.title__main, .description.description__light {
        grid-template-columns: none !important;
      }
    }
    .form {
      input {
        grid-column: 1/12;
        font-size: 12px;
        height: 36px;
        padding: 0 10px;
      }
      button {
        font-size: 14px;
      }
    }
  }
}