.coming_soon_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .illustration {
    grid-column: 3/11;
    margin: auto;
    margin-top: 104px;
  }
  .logo {
    grid-column: 8/6;
    margin: auto;
    img {
      width: 92px;
    }
  }
  .text {
    grid-column: 12/2;
    margin-top: 26px;
    text-align: center;
    .title.title__main, .description.description__light {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      p {
        grid-column: 2/8;
      }
    }
  }
  .form {
    display: grid;
    grid-column: 11/3;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
    margin-bottom: 125px;
    margin-top: 38px;
    .input.input__text {
      border-right: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      grid-column: 3/10;
    }
  }
}

@media screen and (max-width: 640px) {
  .button {
    padding: 6px 15px !important;
  }

  .coming_soon_wrapper {
    .text {
      .title.title__main, .description.description__light {
        grid-template-columns: none !important;
      }
    }
    .form {
      input[type=text] {
        grid-column: 1/12;
        font-size: 12px;
        height: 36px;
        padding: 0 10px;
      }
      button[type=submit] {
        font-size: 14px;
      }
    }
  }
}