.img_logo {
  width: 50px;
}

.header_wrapper {
  align-items: center;
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50%;
  height: 92px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 5%;

  &__shadow-grey {
    box-shadow: 0 20px 40px 0 rgba(34, 28, 28, 0.05);
    z-index: 1;
  }

  .header_logo {
    font-weight: bold;

    a {
      text-decoration: none;
      color: $text-blue-color;
      user-select: none;
    }
  }

  .header_menu {
    justify-self: right;

    a {
      text-decoration: none;
    }
  }
}

.nav_menu {
  align-self: center;
  color: $font-color-inactive;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    color: $text-blue-color;
  }

  &__contact {
    display: inline;
  }

  &__active {
    color: $text-blue-color !important;
  }
}

.nav_menu:not(:last-child) {
  margin-right: 42px;
}

.hamburger_menu {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header_wrapper {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav_menu:not(:last-child) {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 680px) {
  .header_wrapper {
    display: none;
  }

  .hamburger_menu {
    display: grid;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .nav {
      padding: 10px 20px;
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));

      .menu {
        text-align: -webkit-right;

        #icon {
          margin-top: 15px;
          width: 20px;

          #close_icon {
            display: none;
          }
        }
      }
    }

    .sub_menu {
      display: none;
      background: white;
      border-bottom: 1px solid #efefef;
      padding: 20px;
      padding-top: 0;

      ul {
        list-style-type: none;
        margin: auto;

        li {
          padding: 10px;
        }
      }
    }
  }
}