.header-wrapper {
  display: grid;
  height: 92px;

  .header-nav{

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .header-logo {
      grid-column: 2/2;
      padding-top: 20px;

      .img-logo{
        width: 50px;
      }
    }

    .header-menu {
      display: grid;
      grid-column: 4/8;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr);

      a {
        text-decoration: none;
      }
    
      .nav-menu {
        align-self: center;
        color: #19243c;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: auto;
        margin-top: auto;
        text-align: center;
    
        &__about{
          margin: auto;
        }

        &__home {
          margin: auto;
        }

        &__services {
          margin: auto;
        }
      }
    }
  }
}
