body#services {
  background-color: #fafafa;

  .box_shadowed_header {
    background-color: white;
    box-shadow: 0 20px 40px 0 rgba(34, 28, 28, 0.05);
  }

  .footer {
    padding-top: 76px;
    margin-top: -60px;
  }
}

.service_wrapper {
  margin: 50px auto;

  .intro {
    grid-gap: 50px;
    margin: 135px auto 100px auto;
    padding: 0 25px;

    .intro_text {
      margin: auto;
    }
  }

  .illustration {
    background-color: #f8f9fd;
    filter: blur(2vw);
  }

  .services_container {
    margin: auto;
    max-width: 960px;

    .services {
      background-color: white;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      z-index: -1;

      a.service {
        font-family: 'Poppins';
        font-size: 42px;
        font-weight: 500;
        margin: 40px 0px;
        padding: 20px 0px;
        text-align: center;
        text-decoration: none;
        width: 100%;

        span {
          transition: color .15s ease-in-out;
        }

        &__border-right-grey {
          border-right: 1px solid #d8d8d8;
        }

        img {
          margin: auto;
          margin-right: 30px;
        }

        span {
          margin: auto;
          color: $text-blue-color;
        }

        &:hover {
          text-decoration: none;

          span {
            color: $warm-grey-two;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  #services {
    .footer {
      margin-top: -100px !important;
    }
  }

  .services {
    padding-bottom: 50px;
  }

  a.service {
    font-size: 20pt !important;
    margin: 10px 0px !important;
    padding: 20px 0px !important;
    text-align: left;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border: none;

    img {
      margin: auto 0;
      margin-right: 50px;
      justify-self: right;
    }

    span {
      color: #19243c;
      text-align: left !important;
      margin: auto 0 !important;
    }
  }
}
