body#services {
  background-color: #fafafa;

  .background-white {
    box-shadow: 0 20px 40px 0 rgba(34, 28, 28, 0.05);
    background-color: var(--white);
  }
  
  .footer {
    padding-top: 76px;
    margin-top: -60px;
  }
}

.service-wrapper {
  margin: auto;
  max-width: 1440px;

  .intro {
    grid-gap: 50px;
    margin-bottom: 100px;
    margin-top: 135px;
    padding: 0 25px;

    .intro-text {
      margin: auto;
    }
  }

  .services-container {
    display: grid;
    margin: auto;
    max-width: 960px;

    .services {
      background-color: white;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      z-index: -1;
      padding-bottom: 60px;

      .service {
        font-family: 'Poppins';
        font-size: 42px;
        font-weight: 500;
        margin: 40px 0px;
        padding: 20px 0px;
        text-align: center;
        width: 100%;

        &__border-right-grey {
          border-right: 1px solid #d8d8d8;
        }

        img {
          margin: auto;
          margin-right: 30px;
        }

        a {
          margin: auto;
          text-decoration: none;
          color: $text-blue-color;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
