@import 'shared/working_process';
@import 'shared/services';

.ui_ux_wrapper {
  .intro {
    background-color: #403884;
  }

  .illustration {
    background-color: #403884;
    filter: blur(2vw);
  }

  .working-process {
    .step_by_step {
      display: grid;

      .step {
        grid-template-columns: 20% 10% 70%;

        .card {
          margin-bottom: 130px;
          padding: 50px;
        }

        .line {
          background-color: #ebebeb;
          height: 100%;
          margin-left: 14px;
          width: 1px;
        }

        .bullet {
          border-radius: 50%;
          height: 28px;
          margin-top: 100%;
          width: 28px;
        }

        .number {
          border-right: 1px solid #ebebeb;
          font-size: 90px;
          margin-right: 28%;
          margin-top: 35%;
        }
      }
    }
  }
}
