@import 'shared/working_process';
@import 'shared/services';

.ui-ux-wrapper {
  .intro {
    background-color: #403884;
  }

  .working-process {
    .step_by_step {
      display: grid;

      .number {
        border-right: 1px solid #ebebeb;
        margin-right: 28%;
        font-size: 90px;
      }

      .card {
        margin-bottom: 130px;
        padding: 50px;
      }
    }
  }
}
