$black-four: #363633;
$black-three: #060606;
$black-two: #2d2d28;
$black: #000000;
$facebook: #3b5998;
$google: #F04A4A;
$grey-three: #7b7b7b;
$grey-two: #6b6768;
$grey: #5c5c5c;
$instagram: #a72da8;
$light-grey-two: #dddbdb;
$light-grey: #EAE9E7;
$pale-grey: #F7F7F7;
$pale-grey-two: #f0f0f0;
$pinterest: #CB2027;
$twitter: #00aced;
$yellow-two: #fbdd33;
$yellow: #fee86d;
$light-yellow: #F9F6E7;