<!DOCTYPE html>
<title>Crafter Digital</title>
<head>
</head>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="coming-soon-wrapper">
      <div class="illustration">
        <img src="/assets/images/coming-soon.png" alt="coming-soon.png">
      </div>
      <div class="logo">
        <img src="/assets/images/logo.png" alt="logo.png">
      </div>
      <div class="text">
        <div class="title title__main">
          <p>We’re coming soon!</p>
        </div>
        <div class="description description__light">
          <p>
            We sincerely apologize for the incovenience. Our site is currently under maintenance and will return shortly. Get notified when are done.
          </p>
        </div>
      </div>
      <div class="form">
        <input type="text" name="email" placeholder="Your Email"/>
        <button class="button button__submit">Send</button>
      </div>
    </div>
  </body>
</html>