<!DOCTYPE html>
<title>Crafter Digital</title>
<head>
  <script src="assets/javascripts/landing_page.js"></script>
</head>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    {%- include body.html -%}
    {%- include footer.html -%}

    {%- include form_contact_popup.html -%}

    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase.js"></script>
    <script src="assets/javascripts/contact_us.js"></script>
    <script src="assets/javascripts/firebase_app.js"></script>
  </body>
</html>