<!DOCTYPE html>
<title>Crafter Digital</title>
<head></head>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="profile-fatimah">
  <header class="header_wrapper">
    <div class="header_logo">
      <a href="/">
        <picture>
          <source srcset="/assets/images/fatimah_logo.png.webp" type="image/webp">
          <img class="img_logo" src="/assets/images/fatimah_logo.png">
        </picture>
      </a>
    </div>
    <div class="header_menu">
      <ul>
        <li>
          <a href="/" class="nav_menu">About</a>
        </li>
        <li>
          <a href="coming_soon" class="nav_menu">Project</a>
        </li>
        <li>
          <a href="services" class="nav_menu">Study Case</a>
        </li>
      </ul>
    </div>

    <div class="contact">
      <a class="button-contact" href="coming_soon">Contact</a>
    </div>
  </header>

  <header class="hamburger_menu">
    <div class="nav">
      <div class="logo">
        <a href="/">
          <picture>
            <source srcset="/assets/images/fatimah_logo.png.webp" type="image/webp">
            <img class="img_logo" src="/assets/images/fatimah_logo.png">
          </picture>
        </a>
      </div>
      <div class="menu">
        <div id="icon">
          <div id="menu_icon">
            <picture>
              <source srcset="/assets/images/open-menu.png.webp" type="image/webp">
              <img src="/assets/images/open-menu.png">
            </picture>
          </div>
          <div id="close_icon">
            <picture>
              <source srcset="/assets/images/icon-cross.png.webp" type="image/webp">
              <img src="/assets/images/icon-cross.png">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="sub_menu">
      <ul>
        <li>
          <a href="coming_soon" class="nav_menu">About</a>
        </li>
        <li>
          <a href="coming_soon" class="nav_menu">Project</a>
        </li>
        <li>
          <a href="coming_soon" class="nav_menu">Study Case</a>
        </li>
        <li>
          <a href="coming_soon" class="nav_menu">Contact</a>
        </li>
      </ul>
    </div>
  </header>

  <main>
    <section class="intro">
      <div class="left">
        <div class="wrapper">
          <p class="job">Ruby on Rails Developer</p>
          <h2 class="name">Fatimah Az Zahra</h2>
          <p class="bio">I am hardworking and good at making something you like, and I really like learning new things. Let's work together</p>
        </div>
      </div>

      <div class="right">
        <div class="image_wrapper">
          <img src="assets/images/team/fatimah.jpg" alt="image">
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="left">
        <div class="image_wrapper">
          <img src="assets/images/book.jpg" alt="">
        </div>
      </div>
      <div class="right">
        <h1>Last Project</h1>
        <ul class="last_project">
          <li>
            <div class="name">
              <p>- Home Apps</p>
              <a href="#">
                <img src="assets/images/arrow_red.png" alt="">
              </a>
            </div>
            <p class="description">Application about room temperature assistance</p>
          </li>
          <li>
            <div class="name">
              <p>- Social Media</p>
              <a href="#">
                <img src="assets/images/arrow_red.png" alt="">
              </a>
            </div>
            <p class="description">An example of an application that you often use</p>
          </li>
          <li>
            <div class="name">
              <p>- Feed Instagram</p>
              <a href="#">
                <img src="assets/images/arrow_red.png" alt="">
              </a>
            </div>
            <p class="description">Display design for posting on Instagram</p>
          </li>
        </ul>

        <ul class="project_list">
          <li>
            <p class="number">8</p>
            <p class="description">Projects</p>
          </li>
          <li>
            <p class="number">7</p>
            <p class="description">Clients</p>
          </li>
          <li>
            <p class="number">200</p>
            <p class="description">Love</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="services_wrapper">
      <div class="services">
        <div class="content">
          <div class="cards">
            <div class="service_card animate">
              <div class="image-wrapper">
                <picture>
                  <source srcset="assets/images/craft.png.webp" type="image/webp">
                  <img class="icon icon-landscape" src="assets/images/craft.png">
                </picture>
              </div>
              <p class="title">
                Craft Website & API
              </p>
              <p class="description">
                Craft your website or API from scratch using Ruby on Rails.
              </p>
            </div>
            <div class="service_card animate">
              <div class="image-wrapper">
                <picture>
                  <source srcset="assets/images/maintain.png.webp" type="image/webp">
                  <img class="icon icon-landscape" src="assets/images/maintain.png">
                </picture>
              </div>
              <p class="title">
                Maintain Your APP
              </p>
              <p class="description">
                Maintain existing Ruby on Rails web application or services.
              </p>
            </div>
            <div class="service_card animate">
              <div class="image-wrapper">
                <picture>
                  <source srcset="assets/images/refactor_two.png.webp" type="image/webp">
                  <img class="icon icon-landscape" src="assets/images/refactor_two.png">
                </picture>
              </div>
              <p class="title">
                Refactor Existing Ruby Code
              </p>
              <p class="description">
                We help you improve your app to work effectively by improving code quality and reusability of the code.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="technologies">
      <h1>Technology I Used</h1>
      <div class="wrapper">
        <div class="cards">
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/html_2.png.webp" type="image/webp">
                <img src="assets/images/html_2.png">
              </picture>
            </div>
            <p class="name">
              Html
            </p>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/js_2.png.webp" type="image/webp">
                <img src="assets/images/js.png">
              </picture>
            </div>
            <p class="name">
              Javascript
            </p>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/ruby_2.png.webp" type="image/webp">
                <img src="assets/images/ruby_2.png">
              </picture>
            </div>
            <p class="name">
              Ruby
            </p>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/rails_2.png.webp" type="image/webp">
                <img src="assets/images/rails_2.png">
              </picture>
            </div>
            <p class="name">
              Ruby on Rails
            </p>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/postgre_2.png.webp" type="image/webp">
                <img src="assets/images/postgre_2.png">
              </picture>
            </div>
            <p class="name">
              Postgresql
            </p>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <picture>
                <source srcset="assets/images/sass.png.webp" type="image/webp">
                <img src="assets/images/sass.png">
              </picture>
            </div>
            <p class="name">
              Sass
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="top">
      <div class="logo">
        <p class="name">Fatimah Az Zahra</p>
        <p class="text">Let's work together with me</p>
      </div>
      <div class="contact">
        <ul>
          <li class="title title__footer">CONTACT</li>
          <li>
            <picture>
              <source srcset="assets/images/icon-location.png.webp" type="image/webp">
              <img src="assets/images/icon-location.png" />
            </picture>
            <span>Jingga Residence Blok D 51, Bandung, Indonesia</span>
          </li>
          <li>
            <picture>
              <source srcset="assets/images/icon-phone.png.webp" type="image/webp">
              <img src="assets/images/icon-phone.png" />
            </picture>
            <span>+62 82115115973</span>
          </li>
          <li>
            <picture>
              <source srcset="assets/images/icon-envelope.png.webp" type="image/webp">
              <img src="assets/images/icon-envelope.png" />
            </picture>
            <span>crafterdigital.info@gmail.com</span>
          </li>
        </ul>
      </div>
      <div class="about">
        <ul>
          <li class="title title__footer">ABOUT</li>
          <li><a href="coming_soon">Our Team</a></li>
          <li><a href="/services">Our Services</a></li>
          <li><a href="coming_soon">Project</a></li>
        </ul>
      </div>
      <div class="social_media">
        <ul>
          <li class="title title__footer">FOLLOW US</li>
          <li>
            <a href="#">
              <picture>
                <source srcset="assets/images/icon-upwork.png.webp" type="image/webp">
                <img src="assets/images/icon-upwork.png" />
              </picture>
            </a>
            <a href="#">
              <picture>
                <source srcset="assets/images/icon-behance.png.webp" type="image/webp">
                <img src="assets/images/icon-behance.png" />
              </picture>
            </a>
            <a href="#">
              <picture>
                <source srcset="assets/images/icon-github-logo.png.webp" type="image/webp">
                <img src="assets/images/icon-github-logo.png" />
              </picture>
            </a>
            <a href="#">
              <picture>
                <source srcset="assets/images/icon-dribbble.png.webp" type="image/webp">
                <img src="assets/images/icon-dribbble.png" />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="bottom">
      <div class="copyright">2019 ⓒ Crafter Digital. All rights reserved </div>
    </div>
  </footer>
</body>

</html>
