<!DOCTYPE html>
<title>Crafter Digital</title>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body id="services">
  <div class="box-shadowed-header">
    {% include header.html %}
  </div>

  {% include service_body.html %}

  {% include footer.html %}

  <script src="assets/javascripts/hamburger_menu.js"></script>
  <script>
    document.onreadystatechange = function () {
      if (document.readyState == "complete") {
        hamburgerMenu();
      }
    }
  </script>
</body>

</html>
