@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: normal;
  src: local('GothamPro'), url(../fonts/GothamPro.woff) format('woff');
}

@font-face {
  font-family: 'GothamPro-Black';
  font-style: normal;
  font-weight: normal;
  src: local('GothamPro-Black'), url(../fonts/GothamPro-Black.woff) format('woff');
}

@font-face {
  font-family: 'GothamPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('GothamPro-Bold'), url(../fonts/GothamPro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'GothamPro-Light';
  font-style: normal;
  font-weight: normal;
  src: local('GothamPro-Light'), url(../fonts/GothamPro-Light.woff) format('woff');
}

@font-face {
  font-family: 'GothamPro-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('GothamPro-Medium'), url(../fonts/GothamPro-Medium.woff) format('woff');
}

@font-face {
  font-family: 'GothamProNarrow-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('GothamProNarrow-Bold'), url(../fonts/GothamProNarrow-Bold.woff) format('woff');
}

@font-face {
  font-family: 'GothamProNarrow-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('GothamProNarrow-Medium'), url(../fonts/GothamProNarrow-Medium.woff) format('woff');
}
