$apple-two: #5bcf30;
$apple: #4dd239;
$aqua: #1ad8ca;
$battleship-grey: #646d82;
$black-48: rgba(0, 0, 0, 0.48);
$black-four: #2e2e2e;
$black-three: #232323;
$black-two: #000000;
$black: #121212;
$blue-grey-three: #9294b0;
$blue-grey-two: #878aa8;
$blue-grey: #768dac;
$bluegrey-light-two: #bdc4d8;
$bluegrey-light: #8e9bbc4f;
$bluegrey: #8e9bbc;
$bluey-grey-two: #9898af;
$bluey-grey: #8d94b5;
$cerulean-blue: #0077e6;
$charcoal-grey: #3d4246;
$clear-blue: #2699fc;
$cloudy-blue: #b3bfd0;
$cool-grey-five: #9da0a2;
$cool-grey-four: #a8adb4;
$cool-grey-three: #a0a2a9;
$cool-grey-two: #9799a7;
$cool-grey: #a2a3a7;
$cornflower: #6c97f4;
$dandelion: #fbdb09;
$dark-grey-blue-5: rgba(54, 63, 108, 0.05);
$dark-grey-blue-four: #354052;
$dark-grey-blue-three: #304f69;
$dark-grey-blue-two: #283055;
$dark-grey-blue: #363f6c;
$dark-pastel-green: #56bd5b;
$dark-sage: #688e59;
$duck-egg-blue-50: rgba(240, 248, 253, 0.5);
$dull-blue: #4a6da7;
$dusk-6: #D0D3DD;
$dusk: #3c425b;
$electric-blue-two: #0357fd;
$electric-blue: #0051ff;
$grass-green: #237e0d;
$greenish-cyan: #50e3c2;
$greyish-brown: #515151;
$greyish-five: #a7a7a7;
$greyish-four: #e3e3e3;
$greyish-three: #F2F4FA;
$greyish-two: #C2C5D2;
$greyish: #b8b8b8;
$gunmetal: #4e5c63;
$light-blue-grey-60: rgba(218, 224, 240, 0.6);
$light-blue-grey: #dae0f0;
$light-grey-two: #DAE0EB;
$light-grey: #F2F1F1;
$light-navy-blue: #2f5490;
$light-red: #ff5155;
$light-royal-blue: #403cfa;
$lightish-blue-three: #466eff;
$lightish-blue-two: #f4f7fa;
$lightish-blue: #4a78ff;
$marine: #083652;
$olive-brown: #695b00;
$orange-yellow: #ffa700;
$orangey-yellow: #ffb822;
$pale-grey-eight: #f3f3f5;
$pale-grey-eleven: #eff2f6;
$pale-grey-five: #eceff7;
$pale-grey-four: #f9f9fb;
$pale-grey-nine: #f0f1f3;
$pale-grey-seven: #e9ecf6;
$pale-grey-six: #f4f4f6;
$pale-grey-ten: #eff3f9;
$pale-grey-three: #e3edf3;
$pale-grey-twelve: #dfe6ee;
$pale-grey-two: #ebedf2;
$pale-grey: #f4f6fc;
$pale-red: #e34c4c;
$pinkish-grey: #c7c7c7;
$red: #ff0000;
$salmon: #ff9070;
$scarlet: #d0021b;
$silver-five: #f2f4f7;
$silver-four: #ebeaf4;
$silver-six: #f0f3f8;
$silver-three: #c6cbd4;
$silver-two: #bbbcbb;
$silver: #e9eaeb;
$slate-45: rgba(62, 74, 89, 0.45);
$slate-grey-two: #58676f;
$slate-grey: #636a7b;
$tangerine: #ff990f;
$tomato: #f03737;
$vermillion: #f31010;
$warm-grey: #787878;
$white-five: #f3f3f3;
$white-four: #F8F8F8;
$white-six: #d8d8d8;
$white-three: #e4e4e4;
$white-two: #e9e9e9;
$white: #ffffff;

$primary: $dark-grey-blue !default;
$danger: $light-red !default;
$warning: $dandelion !default;
$secondary: $pale-grey-nine !default;
$success: $apple !default;