$aqua: #1ad8ca;
$black-48: rgba(0, 0, 0, 0.48);
$black-three: #232323;
$black-two: #000000;
$black: #121212;
$blue-grey-three: #9294b0;
$blue-grey-two: #878aa8;
$blue-grey: #768dac;
$bluegrey-light: #8e9bbc4f;
$bluegrey: #8e9bbc;
$bluey-grey-two: #9898af;
$bluey-grey: #8d94b5;
$charcoal-grey: #3d4246;
$clear-blue: #2699fc;
$cloudy-blue: #b3bfd0;
$cool-grey-five: #9da0a2;
$cool-grey-four: #a8adb4;
$cool-grey-three: #a0a2a9;
$cool-grey-two: #9799a7;
$cool-grey: #a2a3a7;
$dandelion: #fbdb09;
$dark-grey-blue-5: rgba(54, 63, 108, 0.05);
$dark-grey-blue: #363f6c;
$duck-egg-blue-50: rgba(240, 248, 253, 0.5);
$dull-blue: #4a6da7;
$dusk-6: #D0D3DD;
$dusk: #3c425b;
$greenish-cyan: #50e3c2;
$greyish-brown: #515151;
$greyish: #b8b8b8;
$gunmetal: #4e5c63;
$light-blue-grey-60: rgba(218, 224, 240, 0.6);
$light-blue-grey: #dae0f0;
$lightish-blue: #4a78ff;
$marine: #083652;
$orangey-yellow: #ffb822;
$pale-grey-five: #eceff7;
$pale-grey-four: #f9f9fb;
$pale-grey-three: #e3edf3;
$pale-grey-two: #ebedf2;
$pale-grey: #f4f6fc;
$pale-red: #e54b49;
$pinkish-grey: #c7c7c7;
$scarlet: #d0021b;
$silver-two: #bbbcbb;
$silver: #e9eaeb;
$slate-45: rgba(62, 74, 89, 0.45);
$slate-grey-two: #58676f;
$slate-grey: #636a7b;
$white-five: #f3f3f3;
$white-four: #F8F8F8;
$white-three: #e4e4e4;
$white-two: #e9e9e9;
$white: #ffffff;

$primary: $dark-grey-blue !default;
$danger: $scarlet !default;
$warning: $dandelion !default;