.nav-wrapper {
  ul {
    list-style: none;

    li {
      display: inline;
    }
  }

  .social-media {
    margin-top: 8px;
    padding: 0;

    li:not(:last-child) {
      margin-right: 5px;
    }
  }

  .navbar-center {
    background-color: $pale-grey;
  }

  &__desktop {
    nav.navbar-top {
      height: 80px;
      padding: 0 0 0 25px;

      .navbar-brand {
        img {
          width: 163px;
        }
      }

      .nav-item:not(:last-child) {
        margin-right: 20px;
        margin-top: 23px;
      }

      .nav-link {
        color: black;
        font-family: 'ProximaNova-Bold';
        font-size: 13px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }

      .link-class {
        background-color: $pale-grey-two;
        margin: 0 !important;
        padding: 28px 20px;
        position: relative;

        img {
          margin-top: -3px;
          opacity: 0.35;
          width: 80px;
        }
      }

      .link-login {
        background-color: $red;
        letter-spacing: 1.5px;
        margin: 0 !important;
        padding: 20px 13px;
        position: relative;

        &:hover,
        &:focus {
          box-shadow: inset 12em 0 0 0 white;

          a,
          i {
            color: $red !important;
          }
        }

        a {
          color: white;
          font-family: 'ProximaNova-Regular';
          font-size: 13px;
          font-weight: bold;
        }

        i {
          color: white;
        }
      }
    }

    nav.navbar-center {
      padding: 8px 25px;

      .navbar-right {
        justify-content: flex-end;
      }

      .nav-item:not(:last-child) {
        margin-right: 43px;
      }

      .social-media li {
        a {
          color: black;
        }
      }

      .nav-link {
        color: black;
        font-family: 'D-DINCondensed';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;

        i {
          color: $red;
        }
      }
    }

    nav.navbar-bottom {
      background-color: $red;
      padding: 8px 25px;
      z-index: 1;

      .navbar-right {
        justify-content: flex-end;
      }

      .nav-item:not(:last-child) {
        margin-right: 25px;
      }

      .social-media li {
        a {
          color: white;
        }
      }

      .nav-link {
        color: white;
        font-family: 'D-DINCondensed';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  &__mobile {
    .navbar-brand {
      img {
        width: 120px !important;
      }
    }

    .navbar-top,
    .navbar-center {
      padding: 23px 30px;
    }

    .navbar-top {
      background-color: $red;
    }

    .navbar-center {
      background-color: $pale-grey;

      .right {
        display: contents;

        li.nav-item:first-child {
          margin-left: 8%;
        }
      }

      .nav-link {
        color: black;
        font-family: 'D-DINCondensed';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;

        i {
          color: $red;
        }
      }

      .social-media {
        margin-top: 0;

        a {
          color: black;
        }
      }
    }

    .navbar-bottom {
      padding: 0;

      .navbar-brand {
        margin-left: 30px;
        margin-top: 16px;

        img {
          width: 163px;
        }
      }

      .wrapper {
        text-align: right;
      }

      button.navbar-toggler {
        background-color: black;
        border-radius: 0;
        height: 80px;
        width: 80px;

        i {
          color: white;
          font-size: 33px;
        }

        &:active,
        &:hover {
          box-shadow: none;
          outline: none;
        }
      }

      button.btn-join {
        background-color: $red;
        border-radius: 0;
        border: none;
        color: white;
        font-family: 'ProximaNova-Bold';
        font-size: 13px;
        height: 80px;
        letter-spacing: 1.5px;
        position: absolute;
        right: 80px;
        text-transform: uppercase;
        width: 120px;
      }
    }
  }

  .navbar-nav-covid {
    background-color: $red !important;
    color: white;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

    a.btn {
      border: solid 1px white;
      border-radius: 0;
      color: white;
      font-family: 'D-DINCondensed';
      font-size: 14px;
      font-weight: bold;
      margin-left: 18px;
    }
  }

  .navbar-collapse-show {
    font-family: 'D-DIN-Bold';
    padding: 30px;
  }
}